<div class="create-community-container">
    <h1>Créer une Communauté</h1>
    <form (ngSubmit)="createCommunity()" #communityForm="ngForm">
      <div class="form-group">
        <label for="communityName">Nom de la Communauté:</label>
        <input
          id="communityName"
          type="text"
          class="form-control"
          [(ngModel)]="community.name"
          name="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="communityDescription">Description:</label>
        <textarea
          id="communityDescription"
          class="form-control"
          [(ngModel)]="community.description"
          name="description"
          rows="4"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="communityImage">Image de la Communauté:</label>
        <input
          id="communityImage"
          type="file"
          class="form-control"
          (change)="onFileChange($event)"
        />
      </div>
      <button type="submit" class="btn btn-primary">Créer la Communauté</button>
    </form>
  </div>
  