<div class="register-container">
  <div class="register-form">
    <h2>Join us now!</h2>
    <p>Hey there! Let's get you started by entering your credentials</p>

    <form (ngSubmit)="register()">
      <div class="input-group">
        <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="First Name" required />
        <i class="icon fa fa-user"></i>
      </div>
      
      <div class="input-group">
        <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" required />
        <i class="icon fa fa-user"></i>
      </div>

      <div class="input-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
        <i class="icon fa fa-envelope"></i>
      </div>

      <div class="input-group">
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
        <i class="icon fa fa-lock"></i>
      </div>

      <div class="input-group">
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required />
        <i class="icon fa fa-lock"></i>
      </div>

      <button type="submit" class="btn-submit">Create Account</button>
      
      <div class="separator">
        <span>OR</span>
      </div>
      
      <button class="btn-google">
        <span class="google-text">Sign up with Google</span>
        <img class="google-icon" src="assets/images/google.png" alt="Google" />
      </button>
    </form>
  </div>
</div>
