<body>
    <main>
        <div class="container">
            <a href="#" style="text-decoration: none; color: black;">&lt;</a>
            <h1 style="font-weight: bold; color: black; text-align: center;">
                 My Account
            </h1>
            <div class="profile-picture">
                <img src="assets/images/profil3.png" alt="Profile picture">
                <button class="change-picture-button">Change Picture</button>
            </div>

            <hr> <!-- Separator line -->
            <div class="profile-heading">
                <h1>Profile Information</h1>
            </div>
            <ul class="profile-info">
                <li>
                    <span style="font-weight: bold;">Name</span>
                    <span>Amina</span>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <span style="font-weight: bold;">Email</span>
                    <span>amina&#64;gmail.com</span>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <span style="font-weight: bold;">Phone Number</span>
                    <span>0665745837</span>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <span style="font-weight: bold;">Date of Birth</span>
                    <span>1/1/1960</span>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <span style="font-weight: bold;">Gender</span>
                    <span>Female</span>
                    <i class="fas fa-chevron-right"></i>
                </li>
                <li>
                    <span style="font-weight: bold;">Bio</span>
                    <span></span>
                    <i class="fas fa-chevron-right"></i>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <i class="fas fa-bars"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-arrow-left"></i>
    </footer>
</body>
