<div class="forgot-password-container">
  <div class="forgot-password-form">
    <div class="back-to-login">
      <a routerLink="/login" class="back-link">
        <i class="fa fa-arrow-left"></i> Back to Login
      </a>
    </div>
    <img class="logo" src="assets/images/Fg.png" alt="Logo" />
    <h2>Forgot Password</h2>
    <p>Please enter your email address to reset your password</p>
    <form (ngSubmit)="resetPassword()">
      <div class="input-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
        <i class="icon fa fa-envelope"></i>
      </div>
      <button type="submit" class="btn-continue">Continue</button>
    </form>
  </div>
</div>
